<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @journal.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @journal.gender %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @journal.birthdate %>
</p>

<p>
  <b>User Id:</b>
  <%= @journal.user_id %>
</p>

<p>
  <b>Journal Id:</b>
  <%= @journal.id %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
